.BoiteCrud {
    display: flex; /* Ajustez selon la mise en page souhaitée */
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 100px;
    max-width: 80%;
    position: relative; /* Ajouté pour que 'top' ait un effet */
    top: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}


.BoiteCrud h2 {
    color: #333;
    margin-bottom: 20px;
}

.BoiteCrud form {
    width: 100%;
    margin-bottom: 20px;
}

.BoiteCrud input, .BoiteCrud select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.BoiteCrud button {
    width: auto;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.BoiteCrud button:hover {
    background-color: #fe6600;
}


.BoiteCrud .btn.del-btn {
    background-color: #ff0000; /* Couleur de fond du bouton (rouge tomate) */
    color: #ffffff; /* Couleur du texte (blanc) */
    border: none; /* Supprimer la bordure */
    padding: 10px 15px; /* Ajuster le padding */
    border-radius: 4px; /* Rayon de la bordure pour des coins arrondis */
    cursor: pointer; /* Style du curseur */
    transition: background-color 0.3s; /* Transition pour le survol */
}

.BoiteCrud .btn.del-btn:hover {
    background-color: #e55347; /* Couleur de fond au survol */
}

/* Styles pour le tableau, si nécessaire */
.BoiteCrud table {
    width: 100%;
    border-collapse: collapse;
}

.BoiteCrud table, .BoiteCrud th, .BoiteCrud td {
    border: 1px solid #ddd;
}

.BoiteCrud th, .BoiteCrud td {
    padding: 8px;
    text-align: left;
}
