/build
/node_modules
.eslintcache
/Documentation
webservice.txt
.env
.npmrc
CHANGELOG.md
generate-react-cli.json
ISSUE_TEMPLATE.md
jsconfig.json
package.json
package-lock.json
.eslintcache
/Documentation
.env
package.json
