.CategorieCrud {
    display: flex; /* Ajustez selon la mise en page souhaitée */
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 100px;
    max-width: 80%;
    position: relative; /* Ajouté pour que 'top' ait un effet */
    top: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.CategorieCrud h2 {
    color: #333;
    margin-bottom: 20px;
}

.CategorieCrud form {
    width: 100%;
    margin-bottom: 20px;
}

.CategorieCrud input, .CategorieCrud select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.CategorieCrud button {
    width: auto;
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.CategorieCrud button:hover {
    color: white;
}

/* Styles pour le tableau, si nécessaire */
.CategorieCrud table {
    width: 100%;
    border-collapse: collapse;
}

.CategorieCrud table, .CategorieCrud th, .CategorieCrud td {
    border: 1px solid #ddd;
}

.CategorieCrud th, .CategorieCrud td {
    padding: 8px;
    text-align: left;
}
